/* Everything */
:root {
    --primary-color: #63ABE9;
    --secondary-color: #4042B0;
    --background-color: #DA9020;
    --nav-hover-color: #595B2C;
    --border-color1: black;
    --text-color1: black;
    --text-color2: white;
    --font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}

/* Header Content */
header {
    justify-content: space-between;
}

#logoAndName {
    gap: 0.8rem;
}

#headerAndNav {
    border-bottom: 2px solid var(--border-color1);
}

#currentPage {
    text-decoration: underline;
}

/* Main Content */
main h1 {
    padding: 1rem 0 0 2rem;
    font-size: 3rem;
}

/* Footer Content */
footer {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border-top: 2px solid var(--border-color1);
    gap: 1.5rem;
}

#socials {
    gap: 1rem;
}

#socials a {
    transition: all 0.1s ease;
}

#socials a:hover {
    transform: scale(1.4);
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Multiple Things */
header,
footer,
#headerAndNav {
    background-color: var(--background-color);
}

header,
#logoAndName,
#socials {
    display: flex;
}

#logoAndName img,
#socials img {
    height: auto;
}

#logoAndName,
footer {
    align-items: center;
}

#socials img,
#logoAndName img {
    width: 48px;
    /*48px*/
}

#contactInfo a,
#headerAndNav,
#footerEnd {
    color: var(--text-color1);
}