/* Hamburger For Navigation */
#hamburger {
    width: 96px;
    height: auto;
    font-size: 3rem;
    border-radius: 16px;
    border: none;
    background-color: var(--text-color1);
    color: var(--text-color2);
}

#hamburger:hover {
    cursor: pointer;
}

/* Navigation */
nav {
    max-height: 1px;
    overflow: hidden;
    text-align: center;
    border-top: 2px solid var(--background-color);
    transition: max-height 0.2s ease, border-color 0.3s ease;
    background-color: var(--nav-prehover-color);
}

nav.active {
    max-height: 179px;
    border-color: var(--border-color1);
    transition: max-height 0.2s ease, border-color 0s ease;
}

nav a {
    text-decoration: none;
    font-size: 1.4rem;
    border-bottom: 1px solid var(--border-color1);
    color: var(--text-color1);
}

nav a:last-child {
    border-bottom: none;
}

nav a:hover {
    background-color: var(--nav-hover-color);
    color: var(--text-color2);
}

/* Member Cards - Directory page */
#memberButtons {
    justify-content: center;
    gap: 2rem;
    display: flex;
    padding: 1rem;
}

#showMembersGrid,
#showMembersList {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

#membersContainer {
    min-height: 800px;
}

.grid,
#spotlightContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
    min-height: 300px;
}

.memberCard,
.memberSpotlightCard {
    border: 2px solid var(--border-color1);
    background-color: var(--primary-color);
}

.memberCard h2,
.memberSpotlightCard h2 {
    padding: 0.5rem;
    text-align: center;
    color: var(--text-color2);
    background-color: var(--secondary-color);
}

.memberCard .memberImageAndText,
.memberSpotlightCard .memberImageAndText {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.memberCard img,
.memberSpotlightCard img {
    width: 128px;
    height: 128px;
    margin: auto 0;
    border: 1px solid var(--border-color1);
    border-radius: 12px;
    margin-right: 1rem;
    background-color: var(--border-color1);
}

.memberCard .memberJustText,
.memberSpotlightCard .memberJustText {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
}

.memberCard p,
.memberSpotlightCard p {
    margin-bottom: 0.5rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

.memberCard p:first-child,
.memberSpotlightCard p:first-child {
    margin-top: 0.5rem;
}

.memberCard a,
.memberSpotlightCard a {
    color: var(--text-color1);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.list .memberCard img {
    display: none;
}

/* Hero image - Home page */
#hero {
    border-bottom: 2px solid var(--border-color1);
    border-right: 2px solid var(--border-color1);
    border-left: 2px solid var(--border-color1);
    position: relative;
    margin: 0 1rem;
    aspect-ratio: 16 / 6;
    background-color: var(--border-color1);
}

#hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

#heroText {
    position: absolute;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
    max-width: 600px;
    z-index: 1;
    color: var(--text-color2);
    min-height: 150px;
}

#heroText a {
    color: var(--text-color2);
}


/* Events, Weather, Forecast - Home page */
#highlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 0 1rem;
}

.homeSection {
    border: 2px solid var(--border-color1);
    background-color: var(--primary-color);
}

.homeSection h2 {
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid var(--border-color1);
    background-color: var(--secondary-color);
    color: var(--text-color2);
}

#events p {
    padding: 1rem;
    font-size: 1.2rem;
}

#weather div,
#weatherDesc {
    text-align: center;
    font-size: 1.5rem;
}

#weather img {
    min-width: 100px;
    min-height: 100px;
}

#weather p,
#weatherDesc {
    padding: 0.5rem 0;
}

#weather p {
    padding: 1rem 0;
}

#forecast div {
    font-size: 1.5rem;
}

#forecast p:first-child {
    padding-top: 1rem;
}

#forecast p {
    padding-bottom: 1rem;
    padding-left: 1rem;
    min-height: 1.5rem;
}

#forecast,
#weather {
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/* Spotlight Members - Home page */
#spotlightContainer {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* Form - Join Page */
#formAndMembershipLevels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1rem;
    gap: 1rem;
}

#joinForm form {
    border: 2px solid black;
    padding: 1rem;
}

#joinForm>h2,
#joinMembershipLevels>h2 {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color2);
    width: 80%;
    margin: 0 auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#joinMembershipLevels>h2 {
    border-radius: 12px;
}

#joinForm label,
#joinForm>input,
#joinForm textarea {
    display: block;
}

#joinForm input,
#joinForm textarea {
    width: 100%;
    border-left: 6px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 8px;
    margin: 0.5rem 0;
}

#joinForm textarea {
    resize: none;
    height: 150px;
}

#joinForm label,
#joinForm legend {
    font-size: 1.5rem;
}

#joinForm input,
#joinForm textarea,
#joinForm fieldset label {
    font-size: 1.2rem;
}

#joinForm fieldset input {
    width: 32px;
    transform: scale(1.6);
}

#joinForm fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#joinForm button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

#joinForm button:hover,
#joinForm fieldset input:hover,
#joinForm fieldset label:hover {
    cursor: pointer;
}

/* Membership cards - Join page */
#membershipCardsContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#membershipCardsContainer div {
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    margin: 1rem auto;
    width: 75%;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--primary-color);

    opacity: 0;
    transform: translateY(32px) scaleX(1.2);
    animation: fadeSlideIn 0.5s ease forwards;
}

#membershipCardsContainer div:nth-child(1) {
    animation-delay: 0.1s;
}

#membershipCardsContainer div:nth-child(2) {
    animation-delay: 0.2s;
}

#membershipCardsContainer div:nth-child(3) {
    animation-delay: 0.3s;
}

#membershipCardsContainer div:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0) scaleX(1);
    }
}

#membershipCardsContainer p {
    margin-bottom: 2rem;
}

#membershipCardsContainer p,
#membershipCardsContainer button,
#membershipCardsContainer dialog ul {
    font-size: 1.4rem;
}

#membershipCardsContainer button {
    padding: 0.5rem;
}

#membershipCardsContainer dialog {
    margin: auto auto;
    width: 90%;
    padding: 1.5rem;
    border-radius: 24px;
    text-align: left;
}

#membershipCardsContainer dialog h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

#membershipCardsContainer dialog ul {
    margin-left: 1rem;
}

#membershipCardsContainer dialog button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 48px;
}

#membershipCardsContainer dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

/* Submitted Application Information - Thankyou page */
#thankyouPageH1,
#thankyouPageP {
    text-align: center;
    padding: 0;
    margin: 1rem;
}

#submittedApplicationInfo {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
}

#submittedApplicationInfo h2 {
    font-size: 2rem;
}

#submittedApplicationInfo p,
#thankyouPageP {
    font-size: 1.5rem;
}

/* Areas of Interest - Discover page */
#visitMessage {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

#areasOfInterestContainer {
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h";
    gap: 1rem;
    margin: 1rem;
}

#areasOfInterestContainer section {
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    ;

    h2 {
        background-color: var(--secondary-color);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: var(--text-color2);
        font-size: 1.6rem;
    }

    h2,
    address,
    p {
        padding: 1rem;
    }

    address,
    p {
        text-align: center;
        font-size: 1.1rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    button {
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 8px;
        align-self: center;
        width: 90%;
    }

    button:hover {
        cursor: pointer;
    }
}

#areasOfInterestContainer section:nth-child(1) {
    grid-area: a;
}

#areasOfInterestContainer section:nth-child(2) {
    grid-area: b;
}

#areasOfInterestContainer section:nth-child(3) {
    grid-area: c;
}

#areasOfInterestContainer section:nth-child(4) {
    grid-area: d;
}

#areasOfInterestContainer section:nth-child(5) {
    grid-area: e;
}

#areasOfInterestContainer section:nth-child(6) {
    grid-area: f;
}

#areasOfInterestContainer section:nth-child(7) {
    grid-area: g;
}

#areasOfInterestContainer section:nth-child(8) {
    grid-area: h;
}

/* Multiple Things */
#headerAndNav,
nav,
footer {
    display: flex;
    flex-direction: column;
}

header,
nav a {
    padding: 0.5rem 1rem;
}

#weather div,
#forecast div {
    min-height: 60px;
}

/* Misc Things */
#headerAndNav {
    font-size: 1.5rem;
}